.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid[required], .ng-invalid.required{
  border-left: 5px solid red;

}
.typename{
  color:black;
  font-weight:bolder;

}
body{
  font-size: 1.1em;
}
